---
import * as Plot from "@observablehq/plot";
import PlotFigure from "./PlotFigure.astro";
import penguins from "../assets/penguins.json";

const { species } = Astro.props;
const data = penguins.filter((p) => p.species === species);

const options = {
  marks: [
    Plot.dot(data, {
      x: "culmen_length_mm",
      y: "culmen_depth_mm",
      fill: "species",
      tip: true
    })
  ]
};

const isIndex = Astro.url.pathname === '/';
---

<div class="p-4">
  {!isIndex && (
    <nav class="mb-4">
      <a href="/" class="text-blue-600 hover:underline">← Retour à l’accueil</a>
    </nav>
  )}

  <h2 class="text-xl font-bold mb-2">{species}</h2>
  <PlotFigure options={options} />
</div>
