---
import * as Plot from "@observablehq/plot";
import { penguins } from "../assets/penguins.js";

const { species } = Astro.props;

const data = penguins.filter((p) => p.species === species);

const chart = Plot.plot({
  marks: [
    Plot.dot(data, {
      x: "bill_length_mm",
      y: "bill_depth_mm",
      fill: "species",
      tip: true
    })
  ]
});
---

<div class="p-4">
  <h2 class="text-xl font-bold mb-2">{species}</h2>
  <div set:html={chart.outerHTML}></div>
</div>
