---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <nav class="flex gap-4 p-4 bg-gray-100">
      <p class="text-lg pr-8">Menu</p>
      <a href="/species/Adelie" class="text-green-600 hover:underline text-lg">Adelie</a>
      <a href="/species/Gentoo" class="text-green-600 hover:underline text-lg">Gentoo</a>
      <a href="/species/Chinstrap" class="text-green-600 hover:underline text-lg">Chinstrap</a>
    </nav>

    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
